h1 {
    font-family: 'Amatic SC', courier;
    font-size: 6em;
    text-align: center;
    background-color:aqua;
  }
  #cclicker{
    margin-left: 350px;
  }

  #dclicker{
    margin-left: 235px;
  }
  
  p {
    font-family: 'Amatic SC', courier;
    font-size: 3em;
    text-align: center;
  }
  
  #cat {
    max-width: 100%;
    height: auto;
  }
  #dog {
    max-width: 100%;
    height: auto;
  }
  .center {
      margin: auto;
  }

  .catfacts {
    min-height: 200px;
     background-color: #FFFFFF;
    border: 15px solid aquamarine;
   padding:20px;
   color:black;
 }
  
  
  .dogfacts {
     min-height: 200px;
      background-color: #FFFFFF;
     border: 15px solid aquamarine;
    padding:20px;
    color:black;
  }
  
  body {
      margin: 0;
      padding: 0;
      background-color: aquamarine;
  }
