h1 {
    font-family: 'Amatic SC', courier;
    font-size: 6em;
    text-align: center;
  }
  
  p {
    font-family: 'Amatic SC', courier;
    font-size: 3em;
    text-align: center;
  }
  
  .cat {
    max-width: 100%;
    height: auto;
  }
  .dog {
    max-width: 100%;
    height: auto;
  }
  .center {
      margin: auto;
  }

  .catfacts {
    min-height: 200px;
     background-color: #FFFFFF;
    border: 15px solid #F9F9F9;
   padding:20px;
 }
  
  
  .dogfacts {
     min-height: 200px;
      background-color: #FFFFFF;
     border: 15px solid #F9F9F9;
    padding:20px;
  }
  
  body {
      margin: 0;
      padding: 0;
  }