body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px 0;
	margin: 70px;
    background-image: url('https://images.pexels.com/photos/70441/pexels-photo-70441.jpeg');
    color:bisque;
    
}

h1 {
    color:blueviolet;
    font-size: 64px;
}
.page-description{
    margin: 2px;
    text-align: center;
    padding: 30px;
    color:black;
    font-size: 64px;
}

head{
    font-size: 64px;
    color:bisque;
}

header{
    font-size: 32px;
    color:bisque;
}

ul{
    font-size: 64px;
    color:bisque;
}

li{
    font-size: 64px;
    color:bisque;
}
p{
    font-size: 36px;
    color:bisque;
}
.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('https://phgcdn.com//images/uploads/MOBBH/masthead/MOBBH-masthead-battlehouse0071exterior.jpg');
    background-size: cover;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    height: 500px;
    font-size: 64px;
  }