body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 50px 0;
	margin: 70px;
    background-image: url('https://images.pexels.com/photos/16869783/pexels-photo-16869783/free-photo-of-low-angle-view-of-modern-buildings.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    color:aliceblue;
}

h1 {
    color:blueviolet;
    font-size: 56px;
}

.jumbotron {
    display: flow-root;
    align-items: center;
    font-size: 64px;
    background-size: flex;
    background-color: bisque;
    height: 400px;

}